<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
</head>

<!--To initialize entire block of editable fields on main page-->
<body th:object="${cart}">
    <h1>Welcome to The Cart</h1>
                            <!--When is empty, go to cart main, otherwise; update current list-->
    <form action="#" th:action="*{editCart} == null ? @{/shopcart} : @{/shopcart/update}" method="post">
        <p>
            Username:
            <input type="text" th:field="*{userName}"/>
        </p>
        <p>
            Item:
            <input type="text" th:field="*{item}"/>
            <input type="hidden" th:field="*{editCart}"/> <!--Backend field to checksum edit function-->
            <button type="submit" value="+"></button>
        </p>
    </form>
    <h1>Here is your list of items:</h1>
        <ul th:each="itemCart : *{itemCart}">
            <li th:text="${itemCart} + ' [$' + ${#numbers.formatDecimal(itemCart.price, 1, 'DEFAULT', 2, 'DEFAULT')} + ']'"></li>
            <a th:href="@{/cart/edit/{cartId}(cartId=${itemCart.id})} + '?userName=' + *{userName}">Edit</a>
            <a th:href="@{/cart/delete/{cartId}(cartId=${itemCart.id})} + '?userName=' + *{userName}">Delete</a>
            <a th:href="@{/cart/sortUp/{cartId}(cartId=${itemCart.id})} + '?userName=' + *{userName}">Sort Up</a>
        </ul>
</body>
</html>